@import url('https://fonts.googleapis.com/css?family=Righteous&display=swap');
@import url('https://fonts.googleapis.com/css?family=Lobster&display=swap');

nav {

    li.nav-item {
        margin-left: 20px;
    }

    button {
        font-family: 'Lobster', cursive;
    }

    .LogInButton {
        font-family: 'Lobster', cursive;
    }


    a {
        &.navbar-brand {
            font-family: 'Righteous', cursive;
        }

        &.nav-link {
            &:first-child {
                margin-left: 20px;
            }
        

            font-size: 20px;
            font-family: 'Lobster',
            cursive;
            border: 1px solid white;
            border-radius: 5px;
            // height: 38px;
            padding: 3px 5px;
            margin-top: 4px;
            display: inline-block;
        }
    }
}

ul.Sort {
    padding: 0;
    list-style-type: none;

    p {
        margin-top: 5px;
        text-align: center;
        font-family: 'Lobster', cursive;
        font-size: 18px;
        color: white
    }

    li {
        text-align: center;

        a {
            font: {
                size: 14px;
                family: 'Righteous', cursive;
            }

            color: white;
        }
    }
}


.bgStars {
    background: url("/images/bg6.jpg");
    background-size: cover;
}

div.card {
    // height: 100%;
    height: 100%;
    width: auto;
    padding: 5px;
    border-radius: 10px;
    margin: 10px 5px;

    .Image {
        position: relative;

        a.imageReference {
            img {
                &:hover {
                    opacity: 0.8;
                    // transition: all 0.2s ease;
                }
            }

            &:hover+.ButtonBlock {
                opacity: 1;
                transition: all 0.2s ease;
            }

            // &:hover+a.downloadButton+a.downloadButton {
            //     opacity: 1;
            //     transition: all 0.2s ease;
            // }
        }

        .ButtonBlock {
            opacity: 0;

            &:hover {
                opacity: 1;
            }

            a.downloadButton {
                position: absolute;
                // opacity: 0;
                // transition: all 0.2s ease;
                left: 50%;
                top: 50%;
                margin-top: -25px;
                margin-left: -50px;
                // margin: 0 auto;

                &:last-child {
                    margin-left: 0;
                }

                img {
                    width: 50px;
                    height: 50px;
                }

                &:hover {
                    opacity: 1;
                    padding: 2px;

                }
            }
        }
    }

    .card-title {
        font-family: 'Lobster', cursive;
    }

    p.card-text {

        span {
            font-family: 'Lobster', cursive;
            font-size: 16px;
        }

        font-family: 'Righteous',
        cursive;

        a {
            color: #212529;
            // font-weight: bold;
            font-style: italic;
        }
    }
}

@media(max-width:992px){
    ul.Sort{
        p{
            font-size: 14px;
        }
        li{
            a{
                font-size: 12px;
            }
        }
    }
    nav .LogInButton{
        margin-left: 20px;
    }
}

@media(max-width:768px) {
    .rose {
        display: none;
    }

    ul.Sort{
        p{
            font-size: 18px;
        }
        li{
            a{
                font-size: 16px;
            }
        }
    }

    nav .LogInButton{
        margin-left: 20px;
    }

    .card .Image div.ButtonBlock {
        opacity: 1;

        a.downloadButton {
            left: 100%;
            top: 0;
            margin-left: 0;
            margin-top: 0;

            &:first-child {
                margin-left: -100px;
            }

            &:last-child {
                margin-left: -50px;
            }
        }
    }

    .ComposerImage {
        text-align: center;
    }
}

// img:hover{
//     padding: 5px;
//     transition: all 0.3s ease;
// }

p.a {
    text-align: center;
    color: white;
    background-color: #343a40;
    width: 100%;
    font-style: italic;
}

p.b {
    text-align: center;
    color: black;
}

p.c {
    text-align: center;
    color: white;
    font-weight: bold;
}

p.Composer {
    font-family: 'Righteous', cursive;

    span {
        font-family: 'Lobster', cursive;
        font-weight: bold;
    }
}

ul.Composers {
    list-style-type: decimal;

    li>a {
        font-family: 'Lobster', cursive;
        font-size: 18px;
    }
}

p.q {
    text-align: center;
    color: white;
}

p.q a {
    color: white;
}


form.Login-Registration{
    label{
        font-size: 18px;
        font-family: 'Lobster', cursive;
    }
    input::placeholder{
        font-family: 'Righteous', cursive;
    }
}


footer {
    .form-row {
        height: 62px;
        align-items: center;
    }

    p {
        color: white;
        font-family: 'Righteous', cursive;
        // font-style: italic;
        margin-bottom: 0;
    }
}

a.ReturnButton {

    // background: ghostwhite;
    // border-radius: 5px;
    // text-decoration: none;
    // position: absolute;
    //     float: right;
    //     position: fixed;
    opacity: 0.8;

    img {
        width: 30%;
        border-radius: 50%;
    }

    z-index: 1;
}

#toTop {
    // width: 100px;
    // border: 1px solid #ccc;
    // background: url("/images/Return.png");
    border-radius: 50%;
    text-align: center;
    padding: 5px;
    position: fixed;
    bottom: 10px;
    /* отступ кнопки от нижнего края страницы*/
    right: 10px;
    margin-right: -2.5rem;
    cursor: pointer;
    display: none;
    color: #333;
    font-family: verdana;
    font-size: 11px;
}
