@charset "UTF-8";
@import url("https://fonts.googleapis.com/css?family=Righteous&display=swap");
@import url("https://fonts.googleapis.com/css?family=Lobster&display=swap");
nav li.nav-item {
  margin-left: 20px;
}

nav button {
  font-family: 'Lobster', cursive;
}

nav .LogInButton {
  font-family: 'Lobster', cursive;
}

nav a.navbar-brand {
  font-family: 'Righteous', cursive;
}

nav a.nav-link {
  font-size: 20px;
  font-family: 'Lobster', cursive;
  border: 1px solid white;
  border-radius: 5px;
  padding: 3px 5px;
  margin-top: 4px;
  display: inline-block;
}

nav a.nav-link:first-child {
  margin-left: 20px;
}

.rose{
    background: url("/images/rose1.jpg") no-repeat;
    background-size: cover;
    width: 1120px;
    /*height: 450px;*/
    display: block;
    padding: 30px 0;
}

ul.Sort {
  padding: 0;
  list-style-type: none;
}

ul.Sort p {
  margin-top: 5px;
  text-align: center;
  font-family: 'Lobster', cursive;
  font-size: 18px;
  color: white;
}

ul.Sort li {
  text-align: center;
}

ul.Sort li a {
  /*font-size: 14px;*/
  font-family: 'Righteous', cursive;
  color: white;
}

.userLink{
    text-decoration: none;
    color: white;
    font-size: 16px;
    font-family: 'Righteous', cursive;
}

.userLink:hover{
    text-decoration: underline;
    color: white;
}

.bgStars {
  background: url("/images/bg6.jpg");
  background-size: cover;
}

div.card {
  /*width: 30%;*/
  width: 223px;
  padding: 5px;
  border-radius: 10px;
  margin: 10px 5px;
}

div.card .Image {
  position: relative;
}

div.card .Image a.imageReference img:hover {
  opacity: 0.8;
}

div.card .Image a.imageReference:hover + .ButtonBlock {
  opacity: 1;
  -webkit-transition: all 0.2s ease;
  transition: all 0.2s ease;
}

div.card .Image .ButtonBlock {
  opacity: 0;
}

div.card .Image .ButtonBlock:hover {
  opacity: 1;
}

div.card .Image .ButtonBlock a.downloadButton {
  position: absolute;
  left: 50%;
  top: 50%;
  margin-top: -25px;
  margin-left: -50px;
}

div.card .Image .ButtonBlock a.downloadButton:last-child {
  margin-left: 0;
}

div.card .Image .ButtonBlock a.downloadButton img {
  width: 50px;
  height: 50px;
}

div.card .Image .ButtonBlock a.downloadButton:hover {
  opacity: 1;
  padding: 2px;
}

div.card .card-title {
  font-family: 'Lobster', cursive;
}

div.card p.card-text {
  font-family: 'Righteous', cursive;
}

div.card p.card-text span {
  font-family: 'Lobster', cursive;
  font-size: 16px;
}

div.card p.card-text a {
  color: #212529;
  font-style: italic;
}

div.Administration p{
    text-align: center;
    color: white;
    font-family: 'Lobster', cursive;
    font-size: 19px
}

div.Administration ul>li{
    color: white;
}

div.Administration ul>li>a{
    color: white;
    /*font-size: 14px;*/
    font-family: 'Righteous', cursive;
    text-decoration: none;
}

div.Administration ul>li>a:hover{
    text-decoration: underline;
}

@media (max-width: 992px) {
  ul.Sort p {
    font-size: 14px;
  }
  ul.Sort li a {
    font-size: 12px;
  }
  nav .LogInButton {
    margin-left: 20px;
  }
}

@media (max-width: 768px) {
  .rose {
    display: none;
  }
  ul.Sort p {
    font-size: 18px;
  }
  ul.Sort li a {
    font-size: 16px;
  }
  nav .LogInButton {
    margin-left: 20px;
  }
  .card .Image div.ButtonBlock {
    opacity: 1;
  }
  .card .Image div.ButtonBlock a.downloadButton {
    left: 100%;
    top: 0;
    margin-left: 0;
    margin-top: 0;
  }
  .card .Image div.ButtonBlock a.downloadButton:first-child {
    margin-left: -100px;
  }
  .card .Image div.ButtonBlock a.downloadButton:last-child {
    margin-left: -50px;
  }
  .ComposerImage {
    text-align: center;
  }
}

p.a {
  text-align: center;
  color: white;
  background-color: #343a40;
  width: 100%;
  font-style: italic;
}

p.b {
  text-align: center;
  color: black;
}

p.c {
  text-align: center;
  color: white;
  font-weight: bold;
}

.Composer {
  font-family: 'Righteous', cursive;
}

.Composer span {
  font-family: 'Lobster', cursive;
  font-weight: bold;
}

ul.Composers {
  list-style-type: decimal;
}

ul.Composers li > a {
  font-family: 'Lobster', cursive;
  font-size: 18px;
}

p.q {
  text-align: center;
  color: white;
}

p.q a {
  color: white;
}

form.Login-Registration label {
  font-size: 18px;
  font-family: 'Lobster', cursive;
}

form.Login-Registration input::-webkit-input-placeholder {
  font-family: 'Righteous', cursive;
}

form.Login-Registration input:-ms-input-placeholder {
  font-family: 'Righteous', cursive;
}

form.Login-Registration input::-ms-input-placeholder {
  font-family: 'Righteous', cursive;
}

form.Login-Registration input::placeholder {
  font-family: 'Righteous', cursive;
}

footer .form-row {
  height: 62px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

footer p {
  color: white;
  font-family: 'Righteous', cursive;
  margin-bottom: 0;
}

a.ReturnButton {
  opacity: 0.8;
  z-index: 1;
}

a.ReturnButton img {
  width: 30%;
  border-radius: 50%;
}

#toTop {
  border-radius: 50%;
  text-align: center;
  padding: 5px;
  position: fixed;
  bottom: 10px;
  /* отступ кнопки от нижнего края страницы*/
  right: 10px;
  margin-right: -2.5rem;
  cursor: pointer;
  display: none;
  color: #333;
  font-family: verdana;
  font-size: 11px;
}

/*//slider*/

.slider {
    position: relative;
    overflow: hidden;
}

.slider__wrapper {
    display: flex;
    transition: transform 0.6s ease;
    height: 200px;
    padding-top: 10px;
}

.slider__item {
    flex: 0 0 20%;
    max-width: 20%;
}

.slider__control {
    position: absolute;
    top: 50%;
    display: none;
    align-items: center;
    justify-content: center;
    width: 40px;
    color: #fff;
    text-align: center;
    opacity: 0.5;
    height: 50px;
    transform: translateY(-50%);
    background: rgba(0, 0, 0, .5);
}

.slider__control_show {
    display: flex;
}

.slider__control:hover,
.slider__control:focus {
    color: #fff;
    text-decoration: none;
    outline: 0;
    opacity: .9;
}

.slider__control_left {
    left: 0;
}

.slider__control_right {
    right: 0;
}

.slider__control::before {
    content: '';
    display: inline-block;
    width: 20px;
    height: 20px;
    background: transparent no-repeat center center;
    background-size: 100% 100%;
}

.slider__control_left::before {
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='%23fff' viewBox='0 0 8 8'%3E%3Cpath d='M5.25 0l-4 4 4 4 1.5-1.5-2.5-2.5 2.5-2.5-1.5-1.5z'/%3E%3C/svg%3E");
}

.slider__control_right::before {
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='%23fff' viewBox='0 0 8 8'%3E%3Cpath d='M2.75 0l-1.5 1.5 2.5 2.5-2.5 2.5 1.5 1.5 4-4-4-4z'/%3E%3C/svg%3E");
}

.slider__item>div {
    height: 190px;
    /*line-height: 250px;*/
    /*font-size: 100px;*/
    text-align: center;
    border-radius: 20%;
}

/*//slider_2*/

.slider_1 {
    position: relative;
    overflow: hidden;
}

.slider__wrapper_1 {
    display: flex;
    transition: transform 0.6s ease;
    height: 200px;
    padding-top: 10px;
}

.slider__item_1 {
    flex: 0 0 20%;
    max-width: 20%;
}

.slider__control_1 {
    position: absolute;
    top: 50%;
    display: none;
    align-items: center;
    justify-content: center;
    width: 40px;
    color: #fff;
    text-align: center;
    opacity: 0.5;
    height: 50px;
    transform: translateY(-50%);
    background: rgba(0, 0, 0, .5);
}

.slider__control_show_1 {
    display: flex;
}

.slider__control_1:hover,
.slider__control_1:focus {
    color: #fff;
    text-decoration: none;
    outline: 0;
    opacity: .9;
}

.slider__control_left_1 {
    left: 0;
}

.slider__control_right_1 {
    right: 0;
}

.slider__control_1::before {
    content: '';
    display: inline-block;
    width: 20px;
    height: 20px;
    background: transparent no-repeat center center;
    background-size: 100% 100%;
}

.slider__control_left_1::before {
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='%23fff' viewBox='0 0 8 8'%3E%3Cpath d='M5.25 0l-4 4 4 4 1.5-1.5-2.5-2.5 2.5-2.5-1.5-1.5z'/%3E%3C/svg%3E");
}

.slider__control_right_1::before {
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='%23fff' viewBox='0 0 8 8'%3E%3Cpath d='M2.75 0l-1.5 1.5 2.5 2.5-2.5 2.5 1.5 1.5 4-4-4-4z'/%3E%3C/svg%3E");
}

.slider__item_1>div {
    height: 190px;
    /*line-height: 250px;*/
    /*font-size: 100px;*/
    text-align: center;
    border-radius: 20%;
}

div.rapid_card > div{
    border-radius: 20%;
    height: 190px;
    background: url("/images/card_layout.png");
    background-size: cover;
    transition: all 0.5s ease;
    z-index: 100;
}

div.rapid_card>div:hover{
    /*height: 210px;*/
    /*padding: 10px;*/
    margin-top: -10px;
    transition: all 0.5s ease;
    z-index: 100;
}

    /*stars_control*/

div.stars {
    /*width: 270px;*/
    display: inline-block;
}

input.star { display: none; }

label.star {
    float: right;
    padding: 10px;
    font-size: 26px;
    color: #444;
    transition: all .2s;
}

input.star:checked ~ label.star:before {
    content: '\f005';
    color: #FD4;
    transition: all .25s;
}

input.star-5:checked ~ label.star:before {
    color: #FE7;
    text-shadow: 0 0 20px #952;
}

input.star-1:checked ~ label.star:before { color: #F62; }

label.star:hover { transform: rotate(-15deg) scale(1.3); }

label.star:before {
    content: '\f006';
    font-family: FontAwesome;
}
